/* create a column class! make sure all of the divs within 'container's have a class of 'column' */
.column {
  width: 30%;
  display: inline-block;
}
/* create your tile classes! we recommend .small .med .large */
.small {
  height: 100%;
  width: : 100%;
}
.medium {
  height: 201.5%;
  width: : 201.5%;
}
.large {
  height: 303%;
  width: : 303%;
}
